/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-darkMode-bodyBG;
  }
}

:root {
  --primary-color: "#dd5903";
  --secondary-color: "#000";
}

body {
  background-color: #f5f5f5;
  font-family: "mont", sans-serif;
  scroll-behavior: smooth;
  caret-color: var(--secondary-color);
}
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}
.scrollNone::-webkit-scrollbar {
  display: none;
}
.container {
  @apply max-w-[1488px] mx-auto px-[1rem] md:px-[2rem] lg:px-[4rem];
}
.box_area {
  @apply bg-primary dark:bg-darkMode-contentBG border box-border-color rounded-common p-common-1;
}

.after-navbar-section-height {
  @apply h-[calc(100vh-64px)];
}
.common-duration {
  @apply duration-200;
}
.content-bg {
  @apply bg-primary dark:bg-darkMode-contentBG;
}
.hover-text-color {
  @apply hover:text-textHover-dark dark:hover:text-textHover-dark;
}
.content-border-color {
  @apply border-border-dark dark:border-darkMode-border;
}
.box-border-color {
  @apply border-border-light dark:border-darkMode-border;
}
.secondary-text-color {
  @apply text-secondary-dark dark:text-darkMode-textPrimaryColor;
}
.small-text-color {
  @apply text-secondary-light dark:text-darkMode-textSecondaryColor;
}

/* ---------------specific-tag-class--------------- */
.navbar-profile-menu-item {
  @apply flex items-center justify-start gap-common px-common-1 py-common hover:bg-secondary-dark/10 dark:hover:bg-primary/10 transform transition ease-linear duration-100 tracking-wide;
}
/* my-profile-route-specific-class */
.my-profile-sidebar-class {
  @apply bg-primary dark:bg-darkMode-contentBG h-[calc(100vh-64px)] overflow-y-auto;
}
